<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center"><strong>全景图制作方法</strong></h3>
            </div>
            <div class="panel-body">
                <div class="row p-l-20">

                            <h4 class="text-center">——之拍摄景区</h4>
<h2>1前言</h2>
全景图分为内景与外景，内景指室内的全景图。外景又分为街景和区域景。区域景采集主要包括旅游景区内部、公园内部、大学内部等全景拍摄。本文主要讲述了区域景中景区的拍摄方法及选点要求，并例举出几款不同相机不同拍摄方法及5D2相机配EF 17-40mm镜头拍摄的单幅图片拼接成全景图的方法。
<h2>2总则</h2>
<h3>2.1目的</h3>
为了满足全景图展现时所需要的数据，通过拍摄人员前期对景区内部的拍摄、后期加工处理，使成果数据最终达到公司规格需求。
<h3>2.2要求</h3>
<p>1)  文件格式：JPG格式</p>
<p>2)  成图像素：不得低于8192×4096 </p>
<h3>3拍摄选点</h3>
<h3>3.1景区选点规则</h3>
 景区拍摄之前首先要了解待拍景区，了解景区对外开放的地方，知道该景区著名地方，如：北海公园里的白塔、小西天等，此处为景区必拍点；如对景区不了解，针对景区导航图或景区导览图来拍摄。一个景区需要拍摄的地方有：
<p>1)  景区正门外景；</p>
<p>2)  景区特色内容；</p>
<p>3)  景区相关设施。</p>
<h3>3.2选点拍摄要求</h3>
<h4>3.2.1景区正门外景</h4>
<p>1)  尽量一张全景图表现所有的细节和内容；</p>
<p>2)  画面中前后左右的构图要美观，内容要丰富；</p>
<p>3)  突出景区的Logo 和主建筑，光线最好是侧光或者顺侧光，使得层次丰富立体感强烈。</p>
<h4>3.2.2景区特色地方</h4>
<p>1)  对景区特色地方一张全景图表现所有内容；</p>
<p>2)  画面中前后左右的构图要美观，具有一定的艺术性。内容要丰富，主题要求完整、空出亮点、体现细节。图片色彩鲜明，不存在色调单一的情况，但特殊场景除外，如：雪景。</p>
<p>3)  需要突出的部分，光线最好是侧光或者顺侧光，这样层次丰富立体感强烈，可以突出主体。</p>
<p>4)  升高三脚架拍摄，可以的话可以采用高杆拍摄。</p>
<p>5)  尽量找高位拍摄，画面上既可以俯览也可以仰望，使得画面更大气。</p>
<h4>3.2.3景区相关设施</h4>
<p>1)  同样尽量一张全景图可以体现所有的细节和内容；</p>
<p>2)  画面中前后左右的构图要美观，内容要丰富；</p>
<p>3)  需要突出的设施，光线最好是侧光或者顺侧光，这样层次丰富立体感强烈，可以突出主体；</p>
<p>建议：</p>
拍摄时的要求是JPG格式，但建议采用RAW 格式，这样后期由于RAW 宽容度大，即使前期拍摄测光判断有误不是很精确的话后期还可以有±1EV 的纠正。即使色温不准也可以后期再精确校准，后期RAW 校准色温比相机前期设置色温直出JPG 要精准。
<p>特别注意：</p>
图片中杜绝出现涉密、涉军和“三俗”等违法违规的内容和不良信息。
   收集门票、导游图等资料：收集景点门票、景点导游图等资料，留底备份。
<h2>4拍摄时间要求</h2>
收集待采集区域的天气情况，结合采集计划，合理安排实采计；建议拍摄时间段：除特殊景色外，如：日出、晚霞；
<p>1) 正常天气，春夏采集时间段约为：白景9：00-18：30，夜景20：00-22：00。</p>
<p>2) 正常天气，秋冬采集时间段约为：白景9：30-16：30，夜景19：30-21：30。</p>
<p>3) 天气要求：天气需晴好，能见度需在8KM 以上，风力<=4 级，若出现扬沙、雾、霾等天气时不能进行采集。</p>
<p>注：
    时间的选择尤为重要，如在春夏尽量在早上10点前或下午4点以后到达现场，即可拍到色彩饱和、光影丰富的相片。
<h2>5拍摄方法</h2>
拍摄全景图的设备都有一定的要求，一般都用鱼眼镜头。鱼眼镜头是一种焦距为16mm或更短并且视角接近180°的镜头，它是一种广角镜头，“鱼眼儿镜头”是它的俗称。鱼眼儿镜头有多种型号如：佳能8-15鱼眼，价格在8300元左右；尼康10.5鱼眼，价格在4700元左右等等，在加上拍摄全景需要配置较好的单反相机，这样成本会增加很多，每台设备的成本都在2万-3万左右（相机、镜头、云台、三角架、快门线和存储卡），所以考虑用普通平面镜头来拍摄全景图片。拍摄方法有多种，下面简单介绍几种使用不周相机拍摄方法：
<h3>5.1半幅机拍摄方法</h3>
佳能、尼康半幅机配配18-55mm用18mm端镜头拍摄。
<p>首先，调好三角架，水平放置。使用全景云台，相机分别向上、下各倾斜30°至45°拍摄，中间水平180°拍摄，共拍三层，每层10张，共计30张。如果需要HDR则为90张。</p>
<h3>5.2全画幅机拍摄方法</h3>
<p>佳能5D2 配24-105mm用24mm端拍摄。</p>
同上面半幅机拍摄方法相同，也是拍摄三层，上部8张，下部8张，中间12张，天空、地面各1张。共计30张。如果需要HDR则为90张。
注：上述两种方法，拍摄数据量大，后期制作困难。
<h3>5.3建议相机及拍摄方法</h3>
<p>使用5D2配17-40mm 或16-35mm镜头，使用17mm或16mm端拍摄。拍摄方法：水平放置，调好三角架，使用全景云台，拍摄二层，分别向上、下各倾斜30°至45°上部8张，下部8张。共计16张，地面不拍，后期PS处理。如需要，地面可以补拍1张，PS后期调整变型后补充三角架位置。 </p>
<p>如下例示意图：图例5-1、图列5-2</p>
<p>
<img src="/static/img/help/pic1.jpg"/>
</p>
<h3>5.4拍摄案例</h3>
黄河壶口瀑布
<p>设备：佳能5D2相机；镜头为佳能EF 17-40mm </p>
<p>
<img src="/static/img/help/pic2.jpg"/>
</p>
上图中的红色框部分为相机向地面倾斜45°拍摄一圈8张，每个方向角45°；其余素材为向天空方向拍摄，同地面拍摄方法一致。（建议使用此方法拍摄）
<p>最后拼接成图效果，图例5-3：</p>

<p>
<img src="/static/img/help/pic3.jpg"/>
</p>

<p>另：</p>
最简单的拍摄方法，四张成像，需要设备为尼康D7100或7000的相机配适马8mm镜头（视角为约180°，适合于初学者）。注：拍摄时绝对不能开自动对焦，所有拍摄方法都需要手动对焦。
<p>方法：</p>
固定三角架，调好水平位置，正北为第一张，顺时针方向拍摄（90°角为一方向）即，东—南—西方向各一张。共四张。后期用PTGui软件拼接。缺点是场景较大，图片重叠点少时，需要在软件中手动添加控制点。
<h3>5.5拍摄要求</h3>
<p>1)  尽量安排在游人较少的时间段进行采集工作。拍摄过程中，相机保持固定，不要移动，拍摄完毕后方可移动三角架；</p>
<p>2)  拍摄过程中，尽量避开大树，行人等对象，寻找开阔的地点进行拍摄。有游人明显接近取景框时，需要等其离开再进行拍摄，避免不相关的人员占据相片的1/2。同一组相片必须同时拍完，若拍摄过程中被行人或车辆等打断，此场景点需要重新拍摄；</p>
<p>3)  在同一个场景点拍摄过程中，相机的移动速度不要太快，避免快门未完全闭合导致的画面不清晰现象；</p>
<p>4)  关闭相机中的日期、时间项。时间、日期不能出现在图片中。</p>
<h3>5.6拍摄距离</h3>
<p>1)  当场景点变化较大，相邻场景的相似度不高时：5-7 米拍摄一个场景（约常人10 步），邻接场景必须有重叠景物以确保拍摄的连续性。</p>
<p>2)  当场景点变化不大，相邻场景的相似度较高时：15 米拍摄一个场景（约常人15 步），邻接场景必须有重叠景物以确保拍摄的连续性。</p>
可做成景区内街景漫游。。。。
<h3>5.7自检内容</h3>
每拍摄完一组图片后，都需要对拍拍摄的图片成果进行自检，自检内容为：</p>
<p>1)  图片中是否存在人的比例过大情况；</p>
<p>2)  图片中是否存在相机带、头发等景物；</p>
<p>3)  图片是否存在过曝/欠曝的情况；</p>
<p>4)  图片中是否存在跑焦的现象；</p>
<p>5)  图片中是否存在由于快门过慢导致焦距不清晰的情况；</p>
<p>6)  图片中是否存在由于抖动等误操作造成画面不清晰的情况；</p>
<p>7)  图片中是否存在脏点的情况（可检验天空上是否有存在脏点的情况）。</p>
<h2>6拼接方法</h2>
使用普通镜头拍摄出的素材合成全景图的方法与鱼眼镜头拍出的合成方法相同。使用PTGui软件拼接。下面价绍以佳能5D2相机，镜头为佳能EF 17-40mm拍摄的图片拼接方法。
<h3>6.1加载图像</h3>
打开PTGui软件，选择“加载图像”后，打开拍摄的图片。如下图6-1所示：

<p>
<img src="/static/img/help/pic4.jpg"/>
</p>

<h3>6.2对准图像</h3>
勾选“自动（使用来自相机的EXIF数据，如果可用）”，如果知道拍摄镜头型号及焦距则可以手动输入。调好后选择“2.对准图像”，提示“请稍候，分析图像”，如下图6-2所示：
 
<p>
<img src="/static/img/help/pic5.jpg"/>
</p>
软件自动运行分析图像后，生成图像编辑器，如果发现错位等现象，则使用编辑器手动添加控制点。如下图6-3所示：
 
<p>
<img src="/static/img/help/pic6.jpg"/>
</p>
<h3>6.3创建图片</h3>
调好输出全景图的本地位置以及宽、长像素（8200×4100），文件格式为JPEG，创建全景图。软件运行好后自动生成全景图。如下图6-4所示：
 
<p>
<img src="/static/img/help/pic7.jpg"/>
</p>

<h2>7图片质量</h2>
<h3>7.1图片分辨率</h3>
全景图合成后的条形图最低分辨率要求：8192×4096，不满足该条件的图片，为不合格图片。
<h3>7.2图片色彩</h3>
指单张全景图片的色彩均匀正常，与现实一致，不存在偏色、色块分界等现象。如下例图7.2-1和图7.2-2所示：
 
<p>
<img src="/static/img/help/pic8.jpg"/>
</p>

<h3>7.3图片明暗</h3>
指单张全景图片明暗度适中，与现实一致，不存在明显过曝/欠曝、天气阴沉、色彩饱和度不当造成的昏暗或色彩失真。
<h4>7.3.1图片过曝</h4>
由于后期HDR合成，图片过曝重度（曝光失真），导致全景图在默认缩放大小下，显示景物大面积无法辨认，丢失较多细节。
整幅过曝  如下例图7.3.1-1和7.3.1-2所示：
 
<p>
<img src="/static/img/help/pic9.jpg"/>
</p>

局部过曝  如下例图7.3.1-5和7.3.1-6所示：
 
<p>
<img src="/static/img/help/pic10.jpg"/>
</p>

<h4>7.3.2图片偏暗</h4>
整幅偏暗  如下例图7.3.2-1和7.3.2-2所示：
 
<p>
<img src="/static/img/help/pic11.jpg"/>
</p>

局部偏暗  如下例图7.3.2-3和7.3.2-4所示：
 
<p>
<img src="/static/img/help/pic12.jpg"/>
</p>


6.4图片清晰
指单张全景图片对焦不正确，导致全景图存在模糊不清现象。如下图7.4-1和7.4-2所示：
<p>
<img src="/static/img/help/pic13.jpg"/>
</p>

<h3>7.5图片黑洞</h3>
是指Pano点全景图片在查看时，图片可观看区域内无黑洞。如下图7.5-1和7.5-2所示：
 
<p>
<img src="/static/img/help/pic14.jpg"/>
</p>

<h3>7.6图片内容</h3>
是指Pano点全景图片在展现时内容完整、清晰，无拼接错位、“鬼影”等现象出现。如下图7.6-1和7.6-2所示：
 
<p>
<img src="/static/img/help/pic15.jpg"/>
</p>

<h3>7.7无效图片</h3>
除特殊要求情况下，拍摄的全景图片展示出的内容毫无意义，是为无效图片。如下图7.7-1所示
 
<p>
<img src="/static/img/help/pic16.jpg"/>
</p>

<h3>7.8双轴现象</h3>
是指全景图片内容中建筑物的水平角度、垂直方向均无倾斜。如下图6.8-1和6.8-2所示：
 
<p>
<img src="/static/img/help/pic17.jpg"/>
</p>

<p>注：全景图片中双轴存在倾斜超过40°的图片，此图片为不合格。  </p>



<br><br><br><br>
<div class="w-700">
<h4>附</h4>
<h4>全景入门三字经之“硬件篇</h4>
<h4> ——摘自四方环视全景摄影论坛</h4>
<p>零基础，学全景，第一步，爱摄影。</p>
<p>买相机，须单反，要轻便，夸微单。</p>
<p>买镜头，选鱼眼，用狗头，可圈点。</p>
<p>性价比，要考虑，质效比，不忘记。</p>
<p>八毫米，效率高，美不足，画质孬。</p>
<p>焦越长，质越优，十五毫，是主流。</p>
<p>对角线，一百八，补天地，效率佳。</p>
<p>三脚架，要轻便，配云台，调节点。</p>
<p>忍者牌，誉国际，要省钱，用得力。</p>
<p>没银子，美达斯，要豪华，数南迦。</p>
<p>水平仪，可以要，若不平，后期调。</p>
<p>彼高杆，有新意，百分百，回头率。</p>
<p>九米杆，高视点，遥控器，须无线。</p>
<p>拍夜景，遇强风，钢丝绳，来稳定。</p>
<p>电动台、长焦镜，拍矩阵，举重轻。</p>
<p>抛掷球、狗扑肉、飞行器、车采集。</p>
<p>玩全景，凭喜好，想赚钱，慎思考。</p>
</div>


                </div>
            </div>
        </div>
    </div>
</div>